<table>
	<tbody>
		<tr class="odd">
			<td>
				<%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>
			</td>
			<td>
				<h4><%= @user.name %></h4>
			</td>
		</tr>
		<tr>
			<td>
				<h5>Comment : <%#= @user.comment %></h5>
			</td>
		</tr>
	</tbody>
</table>
<%= button_tag(type: 'button', class: 'half') do %>
	<%= link_to "Edit Profile" %>
<% end %>